body{
    background-color: white;
    font-family: "Open sans";
    font-size: 10px;    
}

.section1  h1{
    margin-top: 14rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
        
}

.section1 > button{
    color: white;
    background-color: transparent;
    font-size: 0.7rem;
    padding: 1rem 1.5rem;
    border: 2px solid white;
    margin: 1rem 45% 15rem 45%;
}