#section3{
    margin: 3rem 8rem;

}

#section3 > h2{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;

}

#section3 > h3{
    font-size: 0.7rem;
    font-weight: 800;
    color:grey;
    margin-bottom: 1rem;    

}

#section3_content_container{
    display: flex;
    justify-content: space-around;
   
}

.section3_content_container_projects > p{
    font-weight: 600;
    text-align: center;
}

.section3_content_container_projects_image--80{
    width: 93%;
    margin:1rem auto;
    
}


.section3_content_container_articles_image--80{
    width: 15%;
    
}



